/deps/
/ebin/
/rel/
*.db
*~
.#*
\#*
rebar
rebar_source
.rebar
erl_crash.dump
keys_backup
.idea/aeternity-testnet.iml
.idea/inspectionProfiles/
.idea/libraries/
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
backup/
/.rebar/erlcinfo
/.idea/
.DS_Store
.idea/copyright/Aeternity_Zwilla.xml
.idea/dialyzer.xml
.idea/markdown-navigator.xml
.idea/markdown-navigator/
Modules/
all_txt
blocks/.DS_Store
data/.DS_Store
intstall-on-osx.sh
src/.DS_Store
src/web/api.php
src/web/priv/static/assets/fonts/
src/web/priv/static/assets/images/
testnet.iml
