{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{deps, [
    {light_node, "1", {git, "https://github.com/zack-bitcoin/light-node-amoveo", {tag, "master"}}},
    {trie, "1", {git, "https://github.com/zack-bitcoin/MerkleTrie", {tag, "master"}}},
    {chalang, "1", {git, "https://github.com/zack-bitcoin/chalang", {tag, "master"}}},
    {cowboy, "1.1.2", {git, "https://github.com/ninenines/cowboy.git", {tag, "1.1.2"}}},
    {lager, ".*", {git, "https://github.com/erlang-lager/lager.git", {tag, "3.5.1"}}}
]}.

{relx, [{release, {amoveo_core, "0.1.0"}, [amoveo_core, amoveo_http]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {overlay, [
                   {mkdir, "data"},
                   {mkdir, "channels"},
                   {mkdir, "blocks"},
                   {mkdir, "keys"},
                   {mkdir, "oracle_questions"}
                  ]},

        {extended_start_script, true}]
}.

{profiles, [{local, [{relx, [{dev_mode, false},
                             {include_erts, false},
                             {sys_config, "./config/local/sys.config"},
                             {vm_args, "./config/local/vm.args"}]}]
            },
            {dev1, [{relx, [{dev_mode, false},
                             {include_erts, false},
                             {sys_config, "./config/dev1/sys.config"},
                             {vm_args, "./config/dev1/vm.args"}]}
                    ]
            },
            {prod, [{relx, [{dev_mode, false},
                            {include_erts, true},
                            {include_src, false},
                            {sys_config, "./config/prod/sys.config"},
                            {vm_args, "./config/prod/vm.args"}]}]
            }]
}.

{overrides,
    [{override, jiffy, [
        {plugins, [pc]},
        {artifacts, ["priv/jiffy.so"]},
        {provider_hooks, [
            {post,
                [
                    {compile, {pc, compile}},
                    {clean, {pc, clean}}
                ]
            }]
        }
    ]}
]}.
