.btn, button, input[type="button"] {

	background: var(--color-main);
	line-height: 40px;
	color: #fff;
	font-weight: 700;
	font-size: 18px;
	border-radius: 20px;
	border: none;
	padding: 0 20px;
	margin: 0 25px 0 0;
	cursor: pointer;
	user-select: none;
	text-align: center;

	transition: all .4s;

	&:last-child {
		margin-right: 0;
	}

	&:hover {}

	&:active {

	}
}
.btn {
	&_bt {
		margin: 20px 0 0 0 !important;
	}
}
