.btn,
button,
input[type="button"] {
	background: var(--color-main);
	line-height: 30px;
	color: #fff;
	font-weight: 700;
	font-size: 14px;
	border-radius: 20px;
	border: none;
	padding: 0 20px;
	margin: 0 15px 0 0;
	cursor: pointer;
	user-select: none;
	text-align: center;
	max-width: 100%;
	transition: all 0.4s;

	&:last-child {
		margin-right: 0;
	}

	&:hover {}

	&:active {}

	@include bp(large) {
		padding: 0 20px;
		margin: 0 25px 0 0;
		font-size: 16px;
		line-height: 40px;
	}

	& + P {
		margin-top: 20px;
	}
}

input {
	&[type="button"] {}

	&[value="cancel"] {
		background: #fff;
		color: #222;
		box-shadow: 0 0 1px 0 rgba(0,0,0, .5);
	}

	&[value="continue"] {
		background: #696969;
	}
}

.btn {
	position: relative;
	overflow: hidden;

	&:before, &:after {
		content: '';
		display: block;
		position: absolute;
		opacity: 0;
		visibility: hidden;
		transition: all .4s;
		pointer-events: none;
	}
	&:before {
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: #6b6b6b;
	}
	&:after {
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background: #fff;
		top: -50%;
		left: 50%;
		margin-left: -10px;
		margin-top: -10px;
	}

	&_fw {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}

	&_bt {
		margin: 20px 0 0 0 !important;
	}
	&_loading {

		&:before, &:after {
			visibility: visible;
		}
		&:before {
			opacity: .5;
		}
		&:after {
			opacity: 1;
			top: 50%;
			animation: ld-flip 2s infinite;
		}
	}

	&[disabled]{
		background: #eee;
	}
}
@keyframes ld-flip {
	0%,
	25%,
	50%,
	75%,
	to {
		animation-timing-function: cubic-bezier(0,.5,.5,1);
	}

	0%,
	to {
		-webkit-transform: rotateY(0deg) rotateX(0deg);
		transform: rotateY(0deg) rotateX(0deg);
	}

	25% {
		-webkit-transform: rotateY(180deg) rotateX(0deg);
		transform: rotateY(180deg) rotateX(0deg);
	}

	50% {
		-webkit-transform: rotateY(180deg) rotateX(180deg);
		transform: rotateY(180deg) rotateX(180deg);
	}

	75% {
		-webkit-transform: rotateY(0deg) rotateX(180deg);
		transform: rotateY(0deg) rotateX(180deg);
	}
}
