.btn, button, input[type="button"] {

	background: var(--color-main);
	line-height: 40px;
	color: #fff;
	font-weight: 700;
	font-size: 18px;
	border-radius: 20px;
	border: none;
	padding: 0 20px;
	margin: 0 25px 0 0;
	cursor: pointer;
	user-select: none;
	text-align: center;
	max-width: 100%;

	transition: all .4s;

	&:last-child {
		margin-right: 0;
	}

	&:hover {}

	&:active {

	}

	& + P {
		margin-top: 20px;
	}
}
input {
	&[type="button"] {

	}
	&[value="cancel"]{
		background: #fff;
		color: #222;
		box-shadow: 0 0 1px 0 rgba(0,0,0, .5);
	}
	&[value="continue"]{
		background: #696969;
	}
}
.btn {
	&_bt {
		margin: 20px 0 0 0 !important;
	}
}
