.main {
	padding: 20px 0;
	color: #15191a;

	@include bp(large){
		padding: 40px 0;
	}

	.fieldset {
		border: 0;
		display: flex;
		align-items: flex-start;

		padding: 10px 0;
		margin: 0;

		width: 100%;

		flex-wrap: wrap;

		@include bp(large){
			padding: 20px 0;
		}

		DIV {
			max-width: 100%;
		}

		&_nowr {
			flex-wrap: wrap;

			@include bp(large){
				flex-wrap: nowrap;
			}

			input[type="text"] {
				//max-width: 100px;
			}
		}
		&_2col {
			justify-content: space-between;
			flex-wrap: wrap;

			@include bp(large){
				flex-wrap: nowrap;
			}

			LABEL, INPUT, .btn {

				@include bp(large){
					max-width: 49%;
				}
			}
		}

		&:first-child {
			padding-top: 0;
		}

		P {
			margin: 10px 0;
		}
	}
	.output {
		width: 100%;
		margin: 20px 0;
		padding: 0 20px;

		H3 {
			margin: 0 0 20px 0;
		}
	}
	LABEL {
		display: inline-block;
		width: 200px;
		min-width: 200px;
		font-size: 14px;
		font-weight: 700;
		line-height: 20px;
		padding: 5px 10px 5px 0;

		float: left;
		flex: 0 0 auto;

		@include bp(large){
			padding: 10px 10px 10px 0;
			font-size: 18px;
		}

		&.btn {
			padding: 0 10px;
			width: auto;
			line-height: 30px;
			font-size: 14px;
			min-width: auto;

			@include bp(large){
				line-height: 40px;
				padding: 0 20px;
				font-size: 16px;
			}
		}
	}
	INPUT {
		&[type=text]{
			border: 1px solid #e4e4e4;
			border-radius: 4px;
			line-height: 20px;
			padding: 4px 10px;
			overflow: hidden;
			text-overflow: ellipsis;
			//float: left;
			margin: 0 10px 0 0;

			width: auto;
			flex: 1 1 auto;

			@include bp(large){
				padding: 9px 20px;
				margin: 0 20px 0 0;
			}
		}
		&.wide {
			width: 100%;
			margin: 0 0 20px 0 !important;
		}
		&:last-child {
			margin-right: 0;
		}
	}
	TEXTAREA {
		border: 1px solid #e4e4e4;
		border-radius: 4px;
		line-height: 20px;
		padding: 9px 20px;
		width: 100%;
		max-width: 100%;
		min-width: 100%;
		margin: 5px 0 20px;
		min-height: 140px;

		@include bp(large){
			margin: 10px 0 20px;
		}
	}
	CODE, PRE {
		max-width: 100%;
		width: 100%;
		background: #fff;
		border: 1px solid #e4e4e4;
		padding: 9px 20px;
		word-break: break-all;
		margin: 20px 0;
		border-radius: 2px;
		font-size: 14px;
	}
	HR {
		display: inline-block;
		width: 100%;
		border: none;
		border-top: solid 1px rgba(112, 112, 112, .25);
		margin: 10px 0;

		@include bp(large){
			margin: 20px 0;
		}
	}
	.msg {
		display: inline-block;
		width: 100%;
		padding: 10px;
		border: 1px solid #eceacc;
		border-radius: 4px;
		font-size: 18px;
		margin: 10px 0;
		color: #989452;
		background: #fbf9e1;
		word-break: break-all;
		max-height: 400px;
		overflow: auto;
	}
}
