.tabs {
	display: inline-block;
	width: 100%;

	&__nav {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		margin: 0 0 20px 0;

		@include bp(large){
			margin: 0 0 45px 0;
			justify-content: flex-start;
		}

		&-item {
			float: left;
			margin: 0 20px 0 0;
			border: 2px solid transparent;
			line-height: 30px;
			padding: 0 10px;
			font-size: 14px;
			font-weight: 700;
			border-radius: 30px;
			cursor: pointer;
			text-transform: capitalize;
			user-select: none;

			&:last-child {

				@include bp(large){
					margin-right: 0;
				}
			}

			&.active {
				border-color: var(--color-main);
				pointer-events: none;
			}

			@include bp(large){
				margin: 0 40px 0 0;
				border: 4px solid transparent;
				padding: 0 20px;
				font-size: 24px;
				line-height: 42px;
			}
		}
	}
	&__content {
		display: inline-block;
		width: 100%;

		&:after {
			content: '';
			display: inline-block;
			clear: both;
			width: 100%;
			height: 0;
		}

		&-item {
			display: none;
			justify-content: space-between;
			align-items: stretch;
			flex-wrap: wrap;

			&.active {
				display: block;
				display: flex;
			}
		}
	}
	&__col {
		width: 100%;
		float: left;
		padding: 0;

		& + .tabs__col {
			margin-top: 40px;

			@include bp(large){
				margin-top: 0;
			}
		}

		@include bp(large){
			max-width: 520px;
			padding: 0 20px;
		}

		P {
			font-size: 14px;
			color: #15191a;
			font-weight: 500;

			@include bp(large){
				font-size: 18px;
			}
		}
	}
	&__box2 {
		padding: 20px;
		margin: 0 0 20px 0;
		border-radius: 6px;
		background: #fff;

		@include bp(large){
			padding: 25px 30px;
			border-radius: 12px;
		}

		LABEL {
			width: 100px;
			min-width: 100px;
			font-size: 14px;

			@include bp(large){
				width: 140px;
				min-width: 140px;
				font-size: 14px;
			}
		}

		INPUT[type="text"] {
			max-width: 140px;
		}
		.btn {
			padding: 0 10px;
		}
	}
	&__box {
		padding: 20px;
		margin: 0 0 20px 0;
		border-radius: 6px;
		border: solid 1px rgba(128, 128, 128, 0.25);

		@include bp(large){
			padding: 25px 30px;
			border-radius: 12px;
			border: solid 2px rgba(128, 128, 128, 0.25);
		}

		INPUT {
			&[type=text] {
				width: 100%;
				margin: 15px 0;
			}
		}
		P {
			SPAN {
				font-weight: 700;
			}
		}
	}
}
